.container {
  display: flex;
  width: 90%;
  width: 920px;
  height: 509px;
  background-color: white;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
}

.picture {
  width: 389px;
  background: url("../../../public/illustration-woman-online-desktop.svg") -85px
      70px no-repeat,
    url("../../../public/bg-pattern-desktop.svg") -579px -296px no-repeat;
}

.box {
  position: relative;
  background: url("../../../public/illustration-box-desktop.svg") no-repeat;
  width: 191px;
  height: 184px;
  top: 203px;
  left: -93px;
}

.content {
  width: 350px;
  margin-left: 86px;
  margin-right: 95px;
  padding-top: 65px;
  /* margin-bottom: 83px; */
}

.title {
  margin-bottom: 43px;

  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1e1f36;
}

@media (max-width: 900px) {
  .container {
    margin-top: 148px;
    position: relative;
    height: auto;
    flex-direction: column;
    padding-top: 132px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    width: 327px;
    /* background: url('../../../public/bg-pattern-mobile.svg'); */
  }

  .picture { 
    position: absolute;
    top: -107px;
    left: 44px;
    width: 240px;
    height: 208px;
    background: url('../../../public/illustration-woman-online-mobile.svg') no-repeat, 
                url('../../../public/bg-pattern-mobile.svg') 0 103px no-repeat ;
  }

  .box {
    display: none;
  }

  .content {
    width: auto;
    margin: 0;
    padding-top: 0;
  }

  .title {
    margin-bottom: 38px;
    text-align: center;
  }
}
