@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;

  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
}

@media (max-width: 900px) {
  body {
    align-items: stretch;
  }
}
