.accordion-item {
  display: block;

  border-bottom: 1px solid #e8e8ea;
}

.accordion-item:not(:first-of-type) {
  margin-top: 16px;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2px;
  padding-left: 1px;
  padding-bottom: 16px;
  color: #4b4c5f;
  font-size: 14px;
}

.title::after {
  content: "";
  display: inline-block;
  margin-right: 16px;
  width: 10px;
  height: 6px;
  background: url("../../../public/icon-arrow-down.svg") no-repeat;
  transition: transform 0.35s ease;
}

input[type="radio"]:checked + .title{
  padding: 0;
  font-weight: 700;
  color: #1e1f36;
}
input[type="radio"]:checked + .title::after {
  transform: rotate(180deg);
}

input[type="radio"] ~ .title:hover {
  cursor: pointer;
  color: #f47b56;
}

.description{
  line-height: 18px;
  overflow: hidden;
  transition: all 0.35s;
  max-height: 0;
  color: #787887;
}

input[type="radio"] ~ .description {
  /* display: none; */
}

input[type="radio"]:checked ~ .description {
  max-height: 100vh;
  margin-top: 11px;
  margin-bottom: 16px;
}
